{% include "header.html "%}
  <!-- //header -->
  <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container">
        <h2 class="title">User Register</h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="#">Home</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>User Register</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
   <!-- /contact-->
  <div class="contact-form py-5" id="contact">
    <div class="container py-lg-5 py-md-4">
      <h3 class="hny-title mb-lg-5 mb-4">User Register</h3>
        <div class="contacts12-main mb-5">
            <form action="user_reg" method="post">
                <div class="main-input">
                    <div class="d-grid">
                        <input type="text" name="name"  placeholder="Name" class="contact-input" required />
                    </div>
                    <div class="d-grid">
                        <input type="text" name="uid"  placeholder="User Id" class="contact-input" required />
                    </div>
                    <div class="d-grid">
                        <input type="password" name="pwd"  placeholder="Password" class="contact-input" required />
                    </div>
                    <div class="d-grid">
                        <input type="email" name="mail"  placeholder="Email" class="contact-input" required />
                    </div>
                    <div class="d-grid">
                        <input type="text" name="mno"  pattern="[0-9]{10,10}" placeholder="Mobile Number" class="contact-input" required />
                    </div>
                </div>
                    <button class="btn btn-style btn-secondary btn-contact">REGISTER</button>
            </form>
        </div>
    </div>
  </div>

<!--//contact-->
{% include "footer.html "%}

{% if msg2 %}
		<script>alert('Already Exited With Same User Id...!!')</script>
{% endif %}